x12_Connector/target/classes/json_to_x12850.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:x12="http://www.mulesoft.org/schema/mule/x12"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/x12 http://www.mulesoft.org/schema/mule/x12/current/mule-x12.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="json_to_x12850Flow" doc:id="24ad84d0-30d8-49c3-97f8-97af25b2e7b1" >
		<http:listener doc:name="Listener" doc:id="b5c3176c-6af4-477a-9389-3b764414259a" config-ref="HTTP_Listener_config" path="/json_to_x12850"/>
		<ee:transform doc:name="JSON PO to X12 850" doc:id="9f2bc4e7-0e8b-4b0d-bbca-b1f81364b41d" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
	Delimiters: "*>U~",
	TransactionSets: {
		v004010: {
			"850": [{
				Heading: {
					"020_BEG": {
						BEG01: "00",
						BEG02: payload[0].PurchaseOrder.POType,
						BEG03: payload[0].PurchaseOrder.PONumber,
						BEG05: payload[0].PurchaseOrder.PODate as DateTime as String {
							format: "yyyyMMdd"
						} as Date {format: "yyyyMMdd"}
					},
					"060_PER": [
						{
							"PER01": "BD",
							"PER02": payload[0].PurchaseOrder.BuyerName,
							"PER03": "EM",
							"PER04": payload[0].PurchaseOrder.BuyerEmailID
						}
					]
				},
				Detail: {
					"010_PO1_Loop": flatten([
                        (flatten(payload.PurchaseOrder.*POLineItems) map ((item, index) ->
                            {
						"010_PO1": {
							PO101: payload[0].PurchaseOrder.POLineItems[index].LineNum,
							PO102: payload[0].PurchaseOrder.POLineItems[index].Quantity as Number,
							PO104: payload[0].PurchaseOrder.POLineItems[index].UnitPrice as Number,
							PO108: "MG",
							PO109: payload[0].PurchaseOrder.POLineItems[index].SupplierItemNum,
						},
                    "050_PID_Loop": [        
                            "050_PID": {
                            "PID01": "F",
                            "PID05": payload[0].PurchaseOrder.POLineItems[index].ItemDescription
                            }
                        ],
                    "350_N1_Loop" : [
                                "350_N1": {
                                        "N101": "ST",
                                        "N102": payload[0].PurchaseOrder.POLineItems[index].POLineLocation.ShipToLocation.ShipToLocationName,
                                        "N103": "92",
                                        "N104": payload[0].PurchaseOrder.POLineItems[index].POLineLocation.ShipToLocation.ShipToLocationCode

                                },
                                "370_N3": [{
                                    "N301": payload[0].PurchaseOrder.POLineItems[index].POLineLocation.ShipToLocation.Address.AddressLine1,
                                    "N302": payload[0].PurchaseOrder.POLineItems[index].POLineLocation.ShipToLocation.Address.AddressLine2
                                }],
                                "380_N4": {
                                    "N401": payload[0].PurchaseOrder.POLineItems[index].POLineLocation.ShipToLocation.Address.City,
                                    "N402": payload[0].PurchaseOrder.POLineItems[index].POLineLocation.ShipToLocation.Address.State,
                                    "N403": payload[0].PurchaseOrder.POLineItems[index].POLineLocation.ShipToLocation.Address.PostalCode,
                                    "N404": payload[0].PurchaseOrder.POLineItems[index].POLineLocation.ShipToLocation.Address.Country
                                }
                                ]
                        }))

                    ])
				},
				Summary: {
					"010_CTT_Loop": {
						"010_CTT": {
							CTT01: sizeOf(payload[0].PurchaseOrder.POLineItems)
						}
					}
				}
			}]
		}
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<x12:write doc:name="Write" doc:id="3fa7a5aa-665e-4aff-a613-c25de9cb20f9" config-ref="X12_EDI_Write_4010_850" outputEdiMimeType="APPLICATION_EDIX12"/>
		<ee:transform doc:name="Transform Message" doc:id="94954ac3-bdcf-47c8-bbdd-a5faaf1ebca4" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output text/plain
---
payload as String]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
