x12_connector/x12_Connector/src/main/mule/x12850_to_json.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tls="http://www.mulesoft.org/schema/mule/tls" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:x12="http://www.mulesoft.org/schema/mule/x12" xmlns:anypoint-mq="http://www.mulesoft.org/schema/mule/anypoint-mq" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/anypoint-mq http://www.mulesoft.org/schema/mule/anypoint-mq/current/mule-anypoint-mq.xsd
http://www.mulesoft.org/schema/mule/x12 http://www.mulesoft.org/schema/mule/x12/current/mule-x12.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd">
	<flow name="x12850_to_json" doc:id="128a4eae-06e9-42d3-a869-1410ec1b20bd" >
		<http:listener doc:name="Listener" doc:id="434b35d9-1be9-448d-a387-15886a87ae7e" config-ref="HTTP_Listener_config" path="/x12850_to_json"/>
		<x12:read doc:name="4010_850" doc:id="90eefef8-72bd-43d5-ad07-8a4dca2af15c" config-ref="X12_EDI_Read_4010_850"/>
		<ee:transform doc:name="X12850 PO to JSON PO" doc:id="cbacc1e9-84b1-4ba7-baf7-4486e4bfe722" >
			<ee:message >
				<ee:set-payload resource="INB_PO_NTO_4010_850_to_Enterprise_PO_JSON.dwl" />
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="adf62a72-51ea-4d51-a190-0caaea72d0bd" message="#[payload]"/>
	</flow>
</mule>
